* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#control{
    display: flex;
    flex-direction: row;
}

body button{
    width: 4rem;
    height: 2rem;
}

input{
    border: 2px solid blue;
}

#graphContainer, #colorGraph{
    width: 800px;
    height: 600px;
}