{% extends "layout.html" %}

{% block content %}
<h1>Analise das Cores</h1>
<div id="graphContainer">
    <canvas id="colorGraph"></canvas>
</div>

<div id="control">
    <label for="quantityField">Quantidade de cores (max 30):</label>
    <input type="text" id="quantityField" name="fieldColors" min="1" max="30"><br><br>
    <button type="button" onclick="callRequestData()" id="btnColors">Chamar gráfico</button>
</div>

{% endblock content %}

{% block scripts %}
<script src="static/scripts/index.js"></script>
{% endblock scripts %}